
<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
            
            <div class="sb-sidenav-menu-heading">Temperature</div>
            <a class="nav-link" href="temperature_analysis" >
                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                Analysis
            </a>
            <a class="nav-link collapsed" href="temperature_table">
                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                View Data
            </a>
            <div class="sb-sidenav-menu-heading">Precipitation</div>
            <a class="nav-link collapsed" href="precipitation_analysis">
                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                Analysis
            </a>
            <a class="nav-link collapsed" href="precipitation_table">
                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                View Data
            </a>
        </div>
    </div>

</nav>
           